.enterprise-page {
  .content-loading {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detail {
    display: flex;
    justify-content: center;
    padding: 10px;

    .card-detail-enterprise {
      background-color: white;
      margin: 30px 10px;
      max-width: 700px;
      min-width: 200px;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      .picture {
        img {
          width: 100%;
        }
      }

      .description {
        padding: 10px 20px;
        color: #8d8c8c;
      }
    }
  }

}
