.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .login-content {
    text-align: center;
    max-width: 300px;

    h1 {
      text-transform: uppercase;
    }

    .logo-home {
      max-width: 300px;
    }
  }
}
