@import "../../theme";

.div-input-custom {
  .input-custom {
    border-bottom: 1px solid $primaryText;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;

    .prefix {
      margin: 0 5px;
      flex-basis: 20px;
      max-width: 100px;
    }

    .input {
      flex-basis: 100%;
    }

    .suffix {
      max-width: 100px;
      flex-basis: 40px;
    }

    input {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 0.463em;
      padding: 8px;
      font-family: $primaryFont;
      width: 100%;
      &::placeholder {
        font-size: 0.8em;
      }
    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $backgroundColor inset;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: $primaryText !important;
    }

    &.error {
      border-bottom: 1px solid $error-color;
    }
  }

  .input-error {
    text-align: left;
    font-size: 0.38em;
    line-height: 0.741rem;
    color: $error-color;
    margin: 6px 2px 0;
    font-weight: 500;
  }
}
