@import "../../theme";
$white-color: #fdfdfd;

.home-page {
  .content {
    text-align: center;
    display: flex;
    justify-content: center;

    .enterprises-init, .enterprises-no-result {
      text-align: center;
      min-height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-weight: normal;
      }
    }

    .enterprises-list {
      text-align: center;
      padding-top: 10px;
    }

    .filters {
      margin: 10px;

      h6 {
        margin-bottom: 5px;
      }

      .flag-enterprise-type {

        background-color: $primaryColor;
        color: white;
        border: none;
        margin: 2px;
        padding: 6px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        &.selected {
          background-color: $primaryText;
          &:hover {
            background-color: $primaryText;
          }
        }

        &:hover {
          background-color: darken($primaryColor, 5);
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        }
      }
    }
  }
}
