@import "../../../../theme";

$bt-color: #57bbbc;
$bt-color-disabled: #748383;

.login-form {
  .bt-submit {
    border-radius: 1.8px;
    background-color: $bt-color;
    color: white;
    width: 290px;
    border: none;
    padding: 10px;
    font-size: 0.563em;

    &:disabled {
      background-color: $bt-color-disabled;
      &:hover {
        cursor: not-allowed;
        background-color: $bt-color-disabled;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: darken($bt-color, 5);
    }
  }

  .login-error {
    font-size: 0.38em;
    line-height: 0.741em;
    color: $error-color;
    margin: 20px 0 0;
  }

  .password-hidden {
    &:hover {
      cursor: pointer;
    }
  }
}
