@import "../../theme";

$white-border: #d8d8d8;

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  padding: 10px 40px;

  .no-search, .searching, .detail-enterprise {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-enterprise {
    justify-content: start;

    .back-icon {
      margin-right: 20px;
      width: 28px;
      cursor: pointer;
    }

    h1 {
      color: white;
    }
  }

  .no-search {
    .logo-nav > img {
      width: 140px;
    }

    .icon-search {
      position: absolute;
      right: 0;
      cursor: pointer;

      img {
        width: 48px;
      }
    }
  }

  .searching {
    .bt-close {
      cursor: pointer;
    }

    .input-search {
      width: 100%;
      max-width: 600px;
      border-bottom: 1px solid $white-border;

      input {
        color: white;
        font-size: 0.5em;

        &::placeholder {
          color: #991237;
          font-size: 1em;
        }
      }
    }
  }
}
