.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  &.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }
}
