@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$primaryColor: #ee4c77;
$backgroundColor: #ebe9d7;
$primaryFont: 'Roboto', sans-serif;
$primaryText: #383743;

$success-color: #468059;
$error-color: #ff0f44;
$warning-color: rgba(255, 121, 42, 0.91);
$info-color: #496dff;
