@import "theme";

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  color: $primaryText;
}

h1 {
  font-size: 0.8em;
  letter-spacing: -0.6px;
}

h2 {
  font-size: 0.7em;
}

h3 {
  font-size: 0.620em;
}

h4 {
  font-size: 0.6em;
}

h5 {
  font-size: 0.580em;
}

h6 {
  font-size: 0.550em;
}

p {
  font-size: 0.531em;
  line-height: 1.48;
  letter-spacing: 0.1px;
  color: #383743;
}
