.enterprise-tile {
  display: inline-block;
  max-width: 400px;
  min-width: 280px;
  cursor: pointer;
  background-color: white;
  margin: 10px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }

  .picture {
    flex-basis: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .description {
    flex-basis: 150px;
    margin-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;

    h3, h5, h6 {
      margin: 3px;
    }

    h5 {
      font-weight: normal;
    }

    h6 {
      font-weight: 100;
    }
  }
}
